/*normalizadores*/
* {
  margin: 0;
  padding: 0 auto;
  text-decoration: none;
  box-sizing: border-box;
}

/*globales*/
body {
  display: flex;
  flex-direction: column;
  }   


/*nav bar*/
#menu {
  background-color: rgb(250, 249, 249);
}

#menu a {
  font-size: 20px;
  font-weight: bold;
  color: rgb(17, 3, 3);
  padding: 0.5cm; 
}

#menu ul li a {
  text-align: center;
  color: rgb(226, 89, 89);
  border: solid;
  font-size: 15px;
  font-weight: auto;
  padding: 1mm;
  margin: 10mm;
  text-transform: uppercase;
}

#menu ul li a:hover {
  color: rgb(19, 19, 17);
}

#DropMenu ul {
  background-color: grey;
 
}
#DropMenu ul li{
  display: flex;
  flex-direction: row;
  background-color: grey;
  margin: 0;
  width: 250px;
  height: 150px;
  padding: 1mm;
}

  .drawer {
    font-size: 1rem;
    color: var(--white-text);
    float: left;
    cursor: pointer;
    display: none;
    margin-left: 1rem;
    border: solid 1.5px var(--white-text);
    padding: .2rem;
    border-radius: .1rem;
  }
  
  #ckbox {
    display: none;
  }
  
  #elLogo img {
    border: solid;
    border-color: rgb(94, 4, 39);
  }
  
  .primerFormulario {
    text-align: center;
    color: rgb(224, 215, 214);
    font-size: 10mm;
    padding: 3px;
    background-color:rgb(136, 6, 125);
    text-decoration: none;
    margin-bottom:1cm;
    margin-top: 1cm;
  }
  #divNotas {
    text-align: center;
    color: gold;
    font-size: 10mm;
    padding: 3px;
    background-color:rgb(136, 6, 125);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 2cm;
  }

  /*titulos*/
  
  h1 {
    color: rgb(250, 136, 125);
    text-align: center;
    margin:10mm;
    font-size: 6cm; 
    font-family: 'Lobster', cursive;
  }
  
  #nombrepagina {
    color:rgb(250, 136, 125); 
    font-size: 1.5cm;
    font-family: 'Merriweather', serif;;
  }
  #subtitulo{
    color:rgb(211, 106, 96); 
    font-size: 1cm;
  }
  h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Merriweather', serif;;
    color: rgb(8, 8, 8);
    font-size: 3cm;
    
  }
  
  h3 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(250, 136, 125);
    padding: 10px;
    font-size: 1cm;
    font-family:Arial, Helvetica, sans-serif;
    animation-duration: 20s;
    animation-name: aparecer;
  }

  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  h4 {
    text-align: center;
    color: #070707;
    font-family: "Courier New", Courier, monospace;
  }
  
  h5 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #11140b;
    padding: 10px;
    font-size: 10mm;
  }
  
  p {
    color: rgb(14, 14, 15);
    font-family: 'Merriweather', serif;;
    font-size: 5mm;
  }


#rEserva {
  font-size: 10px;
  font-weight: auto;
  padding: 1mm;
  margin: 5mm;
  color: #dd2bb6;
}

#elWhaatsapp {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background-color: rgb(21, 201, 21);
}
#elWhaatsapp p {
  color: antiquewhite;
  text-decoration: none;
  margin: 0 auto;
}

/*sobre nosotros*/
#cardHola{
  display: inline-block;
  margin: 1cm;

}
#cardHola img{
  border: solid;
  border-color: rgb(250, 136, 125);
}

h1 {
  color: rgb(250, 136, 125);
  text-align: center;
  font-size: 2cm;
}
h2 {
  color: rgb(250, 136, 125);
  text-align: center;
}

  /*boton dark*/
  #oScuro {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 26mm;
    height: 9mm;
    color:rgb(219, 209, 217);
    background-color: rgb(15, 12, 14);
    border-radius: 5mm;
    font-size: 3mm;
  }

  #oScuro:hover {
    color:rgb(175, 204, 10);
    background-color: rgb(16, 17, 15);
  }
  /*boton inicio*/
  #btnTutexto {
    margin:0 auto;
    color: rgb(14, 13, 13);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5mm;
    border-radius: 5cm;
    border-color: #dd2bb6;
  }
 #print {
    text-align: center;
    color: aqua;
    font-size: 5cm;
  }


/*pie de pagina*/
footer {
  margin: 0;
  text-align: center;
  background-color: grey;
  height: 20vh;
  padding: 3mm;
  border:solid;
}

article, footer {
  flex: 1;
  margin: 0;
}

#hOla {
  margin: 5px;
  display: flex;
  flex-direction: row;

}
#hOla img {
  display: flex;
  flex-direction: row;
  border:solid;
  border-color: rgb(250, 136, 125);
  margin: 10px;
  
}
aside {
  margin-top: 2cm;
}
#CentroMoron {
  display: flex;
  flex-direction: row;
  border: solid;
  border-color: rgb(250, 136, 125);
  border-radius: 50;
  width: 25cm;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Merriweather', serif;
  background-color: rgb(226, 220, 220);
}
#lasReservas {
  display: flex;
  flex-direction: row;
  border: solid;
  border-color: rgb(250, 136, 125);
  border-radius: 50;
  width: 25cm;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Merriweather', serif;
  background-color: rgb(226, 220, 220);
}
#pReparacion {
  margin: 0 auto;
  font-size: 20px;
  padding: 5mm;
}
#CentroMoron h3 {
  color:rgb(223, 223, 236);
  
}

#hOla img{
  width: 800px;
  height: 400px;
  margin: 2cm;
}
#mAquina {
  margin: 5px;
  display: flex;
  flex-direction: row;

}
#mAquina img{
  width: 400px;
  height: 400px;
  margin: 2 cm;
  display: flex;
  flex-direction: row;
  border:solid;
  border-color: rgb(250, 136, 125);
  margin: 10px;
}
  

#listaServicios {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  border: solid;
  border-color: #ee8a38;
  border-radius: 50;
  width: 25cm;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Merriweather', serif;
  color:rgb(223, 223, 236);
  background-color: rgb(241, 85, 85);
}

#listaServicios p {
  font-family: 'Merriweather', serif;
  color:rgb(223, 223, 236);
}


#fotoCentralsomos {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

/*nav tratamientos*/

#tRatamientos {
  margin: 0 auto;
}

#tRatamientos li {
  color:rgb(250, 136, 125);
}
#tRatamientos li {
  display: inline-block;
  text-decoration: none;
  padding: 40px;
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
  font-family: 'Merriweather', serif;
}
#losTratamientos {
  display: flex;
  flex-direction: row;
  border: solid;
  border-color: rgb(241, 85, 85);
  border-radius: 50;
  width: 25cm;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Merriweather', serif;
  color:rgb(9, 9, 12);
  background-color: rgb(240, 232, 232);
}

/*contacto*/
/*mapa*/

.carde {
  display: flex;
  flex-direction: row;
  display: block;
  margin: 0 auto;
  padding:1cm;
  border: solid;
  border-color: rgb(14, 13, 13);
  background-color: rgb(250, 136, 125); 
  color:powderblue;
  width: 200 px;
}

iframe {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  text-align: center;
  width: 1400px; 
  height:400px;
}
#losPagos {
  margin: 0 auto;
}

#elContacto img {
  width: 200px;
  margin: 0 auto;
}

#elwhats {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
#elwhats img {
  width: 150px;
  height: 100px;
  background-color: pink;
}

#iConos i{
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  color:rgb(247, 241, 242);
  font-size: 30px;
}

#elFooter p {
  color:aliceblue;
  padding: 1px;
}


/*............................................................*/

/* MEDIA QUERIES */

@media (max-width:1200px) {
  #menu a {
    font-size: 10px;
    font-weight: bold;
    color: rgb(17, 3, 3); 
}

#menu ul li a {
    text-align: center;
    color: whitesmoke;
    font-size: 15px;
    font-weight: auto;
    padding: 0.1mm;
    margin: 1mm;
    text-transform: uppercase;
    border: solid;
    border-color:rgb(228, 228, 225);
    background-color: rgb(250, 136, 125);
}

#menu ul li a:hover {
    color: rgb(15, 15, 1);
  }

  #oScuro {
    color:rgb(232, 235, 225);
    background-color: rgb(15, 12, 14);
    border-radius: 5mm;
    font-size: 2mm;
    margin: 0 auto;
  }


  #elLogo  {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  #elLogo img  {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }
    #ckbox:checked  ~ .menu-box{
        left:0;
    }
  
    .fOtitos{
      display: flex;
      flex-direction: column;
      align-items: center;
      column-gap: 30mm;
    }
  .fOtitos div{
      display: flex;
      flex-direction: column;
      align-items: center;
      column-gap: 30mm;
    }
  .fOtitos img{
      display: flex;
      flex-direction: column;
      align-items: center;
      column-gap: 30mm;
    }
    .cArteles{
      display: flex;
      flex-direction: column;
      align-items: center;
      column-gap: 30mm;
    }
  .cArteles div{
      display: flex;
      flex-direction: column;
      align-items: center;
      column-gap: 30mm;
    }
    .cOntacto {
    display: flex;
      flex-direction: column;
      align-items: center;
      column-gap: 30mm;
    }
    #listaServicios {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      text-transform: uppercase;
      border: solid;
      border-color: #ee8a38;
      border-radius: 50;
      width: 9cm;
      align-items: center;
      margin: 0 auto;
      padding: 10px;
      font-family: 'Merriweather', serif;
      color:rgb(223, 223, 236);
      background-color: rgb(212, 27, 27);
    }
    
    #listaServicios p {
      font-family: 'Merriweather', serif;
      color:rgb(16, 17, 15);
      size: 5mm;
    }
    #CentroMoron {
      display: flex;
      flex-direction: column;
      border: solid;
      border-color: #ee5bbd;
      border-radius: 50;
      width: 20cm;
      flex-direction: row;
      align-items: center;
      margin: 0 auto;
      padding: 10px;
      font-family: 'Merriweather', serif;
      color:rgb(15, 15, 15);
      background-color: rgb(231, 225, 225);
    }


    #tRatamientos {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      text-align: center;
      padding: 10mm;
    }
    #tRatamientos li {
      margin: 1mm;
      padding: 5mm;
      color:rgb(250, 136, 125);
    }

    #losTratamientos {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      border: solid;
      border-color: #ee5bbd;
      border-radius: 50;
      width: 10cm;
      flex-direction: row;
      align-items: center;
      margin: 0 auto;
      font-family: 'Merriweather', serif;
      color:rgb(16, 16, 17);
      background-color: rgb(245, 240, 240);
    }
    #cardHola img {
      width: 300px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    }
    iframe {
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      text-align: center;
      width: 300px; 
      height: 200px;
    }
    
    .carde {
      display: flex;
      flex-direction: column;
      display: block;
      margin: 0 auto;
      padding:1cm;
      border: solid;
      border-color: rgb(14, 13, 13);
      background-color: rgb(250, 136, 125); 
      color:powderblue;
      width: 150 px;
    }
    #iConos i{
      display: inline-block;
      margin: 0 auto;
      padding: 10px;
      color:rgb(233, 233, 236);
      font-size: 30px;
    }
    #elFooter p {
      display: flex;
      flex-direction: column;
      color:aliceblue;
      height: 10px;
    }
  }
/*................................................................*/
  @media (max-width:700px) {
    #menu a {
      font-size: 10px;
      font-weight: bold;
      color: rgb(17, 3, 3); 
  }
  
  #menu ul li a {
      text-align: center;
      color: whitesmoke;
      font-size: 15px;
      font-weight: auto;
      padding: 0.1mm;
      margin: 1mm;
      text-transform: uppercase;
      border: solid;
      border-color:rgb(228, 228, 225);
      background-color: rgb(250, 136, 125);
  }
  
  #menu ul li a:hover {
      color: rgb(15, 15, 1);
    }
  
    #oScuro {
      color:rgb(232, 235, 225);
      background-color: rgb(15, 12, 14);
      border-radius: 5mm;
      font-size: 2mm;
      margin: 0 auto;
    }
  
  
    #elLogo  {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }
    
    #elLogo img  {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 200px;
      height: 200px;
    }

      #ckbox:checked  ~ .menu-box{
          left:0;
      }
    
      .fOtitos{
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 30mm;
      }
    .fOtitos div{
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 30mm;
      }
    .fOtitos img{
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 30mm;
      }
      .cArteles{
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 30mm;
      }
    .cArteles div{
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 30mm;
      }
      .cOntacto {
      display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 30mm;
      }
      #listaServicios {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-transform: uppercase;
        border: solid;
        border-color: #ee8a38;
        border-radius: 50;
        width: 9cm;
        align-items: center;
        margin: 0 auto;
        padding: 10px;
        font-family: 'Merriweather', serif;
        color:rgb(223, 223, 236);
        background-color: rgb(212, 27, 181);
      }
      #losTratamientos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border: solid;
        border-color: #ee5bbd;
        border-radius: 50;
        width: 10cm;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
        font-family: 'Merriweather', serif;
        color:rgb(223, 223, 236);
        background-color: rgb(219, 214, 214);
      }
      #listaServicios p {
        font-family: 'Merriweather', serif;
        color:rgb(16, 17, 15);
        size: 5mm;
      }
      #cardHola img {
        width: 250px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
      }
      #tRatamientos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        padding: 10mm;
      }
      #tRatamientos li {
        margin: 1mm;
        padding: 5mm;
        color:rgb(250, 136, 125);
      }
      #CentroMoron {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-transform: uppercase;
        border: solid;
        border-color: #ee8a38;
        border-radius: 50;
        width: 9cm;
        align-items: center;
        margin: 0 auto;
        padding: 10px;
        font-family: 'Merriweather', serif;
        color:rgb(11, 11, 12);
        background-color: rgb(236, 228, 228);
    }
    iframe {
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      text-align: center;
      width: 300px; 
      height: 200px
    }
    #iConos i{
      display: inline-block;
      margin: 0 auto;
      padding: 10px;
      color:rgb(233, 233, 236);
      font-size: 20px;
    }
    #elFooter p {
      display: flex;
      flex-direction: column;
      color:aliceblue;
      height: 10px;
      font-size: 20px;
    }
  }
  /*---------------------------------*/
  @media (max-width:700px) {
    #menu a {
      font-size: 10px;
      font-weight: bold;
      color: rgb(17, 3, 3); 
  }
  
  #menu ul li a {
      text-align: center;
      color: whitesmoke;
      font-size: 15px;
      font-weight: auto;
      padding: 0.1mm;
      margin: 1mm;
      text-transform: uppercase;
      border: solid;
      border-color:rgb(228, 228, 225);
      background-color: rgb(250, 136, 125);
  }
  
  #menu ul li a:hover {
      color: rgb(15, 15, 1);
    }
  
    #oScuro {
      color:rgb(232, 235, 225);
      background-color: rgb(15, 12, 14);
      border-radius: 5mm;
      font-size: 2mm;
      margin: 0 auto;
    }
  
  
    #elLogo  {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    
    }
    
    #elLogo img  {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 200px;
      height: 200px;
    }

      #ckbox:checked  ~ .menu-box{
          left:0;
      }
    
      .fOtitos{
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 30mm;
      }
    .fOtitos div{
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 30mm;
      }
    .fOtitos img{
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 30mm;
      }
      .cArteles{
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 30mm;
      }
    .cArteles div{
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 30mm;
      }
      .cOntacto {
      display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 30mm;
      }
      #listaServicios {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-transform: uppercase;
        border: solid;
        border-color: #ee8a38;
        border-radius: 50;
        width: 9cm;
        align-items: center;
        margin: 0 auto;
        padding: 10px;
        font-family: 'Merriweather', serif;
        color:rgb(223, 223, 236);
        background-color: rgb(212, 27, 27);
      }
      
      #listaServicios p {
        font-family: 'Merriweather', serif;
        color:rgb(16, 17, 15);
        size: 5mm;
      }
      #cardHola img {
        width: 250px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
      }
      #CentroMoron {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-transform: uppercase;
        border: solid;
        border-color: #ee8a38;
        border-radius: 50;
        width: 9cm;
        align-items: center;
        margin: 0 auto;
        padding: 10px;
        font-family: 'Merriweather', serif;
        color:rgb(10, 10, 10);
        background-color: rgb(243, 237, 237);
    }
    #losTratamientos {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      border: solid;
      border-color: #ee5bbd;
      border-radius: 50;
      width: 10cm;
      flex-direction: row;
      align-items: center;
      margin: 0 auto;
      font-family: 'Merriweather', serif;
      color:rgb(10, 10, 10);
      background-color: rgb(231, 221, 221);
    }
    #tRatamientos {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      text-align: center;
      padding: 10mm;
    }
    #tRatamientos li {
      margin: 1mm;
      padding: 5mm;
      color:rgb(250, 136, 125);
    }
    iframe {
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      text-align: center;
      width: 300px; 
      height: 200px
    }
    #iConos i{
      display: inline-block;
      margin: 0 auto;
      padding: 10px;
      color:rgb(233, 233, 236);
      font-size: 25px;
    }
    #elFooter p {
      display: flex;
      flex-direction: column;
      color:aliceblue;
      height: 5px;
      font-size: 10px;
    }
  }

